---
import Layout from "../layouts/default.astro"

import Navbar from "../components/Navbar.astro"

import { Icon } from "astro-icon/components";
---

<Layout>
	<Navbar />
	<div class="min-h-screen bg-[url('https://wiki.democraft.fr/api/lobby')] bg-cover flex flex-col items-center justify-center text-center">
			<Icon name="lucide:alert-triangle" class="text-9xl text-white mb-6 animate-bounce" />
			<h1 class="text-5xl font-bold text-white mb-4">404 - Page Non Trouvée</h1>
			<p class="text-xl text-white mb-8">Désolé, la page que vous recherchez n'existe pas.</p>
			<a href="/" class="px-6 py-3 btn btn-primary">Retour à l'Accueil</a>
	</div>
</Layout>
